[submodule "external/libsbp"]
	path = external/libsbp
	url = git@github.com:swift-nav/libsbp.git
[submodule "external/libsettings"]
	path = external/libsettings
	url = git@github.com:woodfell/libsettings.git
[submodule "external/librtcm"]
	path = external/librtcm
	url = git@github.com:swift-nav/librtcm.git
[submodule "external/libswiftnav"]
	path = external/libswiftnav
	url = git@github.com:woodfell/libswiftnav.git
[submodule "external/gnss-converters"]
	path = external/gnss-converters
	url = git@github.com:swift-nav/gnss-converters.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
