[submodule "external/libsbp"]
	path = third_party/libsbp
	url = git@github.com:swift-nav/libsbp.git
[submodule "external/libsettings"]
	path = third_party/libsettings
	url = git@github.com:woodfell/libsettings.git
[submodule "external/librtcm"]
	path = third_party/librtcm
	url = git@github.com:swift-nav/librtcm.git
[submodule "external/libswiftnav"]
	path = third_party/libswiftnav
	url = git@github.com:woodfell/libswiftnav.git
[submodule "external/gnss-converters"]
	path = third_party/gnss-converters
	url = git@github.com:swift-nav/gnss-converters.git
[submodule "external/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
